body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body .container {
    max-width: 1000px;
    margin: 30px auto;
}

#api_status {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #cccccc;
}